.container-body {
    background: linear-gradient(to bottom, #003366, #663399, #ff6699);
    /* background: rgba(0, 0, 0, 0.7); */
}

.form-container {
    background: rgba(0, 0, 0, 0.7);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    overflow-y: auto;
    background-position: center;
    padding: 20px;
}

.sell-form {
    padding: 0px 20px;
}

.loading-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f8f9fa; /* Light background */
  }
  