
.car-finder-quiz {
    max-width: 600px;
    margin: 0 auto;
    padding: 30px;
    border-radius: 10px;
    background-color: #2f2b2ba7;
    box-shadow:  rgba(0, 0, 0);
    font-family: 'Arial', sans-serif;
  }
  
  .car-finder-quiz h2 {
    text-align: center;
    color: #fbf9f9;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .car-finder-quiz form {
    display: flex;
    flex-direction: column;
  }
  
  .question {
    margin-bottom: 30px;
  }
  
  .question p {
    margin-bottom: 10px;
    color: #f3f2f2;
    font-weight: bold;
  }
  
<<<<<<< HEAD
  /* input[type="text"],
=======
  input[type="text"],
>>>>>>> 2aa5575cbc578acdd56b3ec28a41a4dc564fdb1f
  select {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 5px;
    background-color: #fffeff;
    font-size: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  input[type="checkbox"] {
    margin-right: 5px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
  }
  
  button[type="submit"] {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 5px;
    background-color: #d21f1fd9;
    color: #fcfbfb;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button[type="submit"]:hover {
    background-color: #91a8c1;
<<<<<<< HEAD
  } */
=======
  }
>>>>>>> 2aa5575cbc578acdd56b3ec28a41a4dc564fdb1f
  
  .result {
    margin-top: 30px;
  }
  
  .result h3 {
    margin-bottom: 10px;
    color: #f9f8f8;
    font-size: 20px;
  }
  
  .result ul {
    list-style: none;
    padding: 0;
  }
  
  .result ul li {
    background-color: #442fca;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  